:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;/* default */
}
* {
    box-sizing: border-box;/* default */
}
body, html {
    background-color: var(--main-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;/* default */
}
header {
    background-image: url("https://picsum.photos/1200/300");
    background-size: cover;
    min-height: 300px;
    padding-top: 275px;/* default */
}
a {
    color: var(--link-color);/* default */
}
.top-nav { /* Home, Moments, Notification, Message */
    background: var(--light-bg); /* default */
    width: 100%;
    position: fixed;
    z-index: 1000;
}
.nav {
    list-style-type: none;
    padding: 1.5em;
    margin: 0;/* default */
}
.nav-item { /* userInput */
    padding: 1.5em;
    display: inline-block;
}
.nav-link {
    color: var(--main-link-color);/* default */
    font-weight: bold;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--link-color);/* default */
}
.container {
    display: flex;
    margin: 2em;
}
.profile {
    background: var(--light-bg);/* default */
    height: 80px;
}
.profile-image { /* main profile icon */
    position: absolute;
    top: 240px;
}
.profile-form { /* EDIT BUTTON */
    float: right;
    line-height: 80px;

}
.profile-details { /* Elliot Alderson */
    float: left;
    margin: 0 .5em;
    width: calc(25% - .5em);
}
.profile-entry {
    margin: .5em;
}
.profile-items {
    list-style: none;
    padding: 0;
}
.timeline { /* Middle Icons */
    float:left;
    margin: 0 .5em;
    width: calc(50% - .5em);
}
.who-to-follow { /* Last Icons */
    float: right;
    margin: 0 .5em;
    width: calc(25% - .5em);
}

.btn {
    border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    background: var(--light-bg);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;/* default */
}
.btn-large {
    font-size: 1.3em;
    padding: 10px;/* default */
}
.img-circle {
    border-radius: 100%;
    border: 4px solid var(--light-bg);/* default */
}
.text-right {
    text-align: right; /* default */
}
.text-muted {
    color: var(--main-link-color); /* default */
}
.media {
    width: 100%;
    border-bottom: 1px solid silver;
    background-color: white;
    padding: .5em;
    overflow: hidden;
}
.media-image {
    width: 50px;
    margin-top: 1.33em;
    float: left;
}
.media-body {
    float: left;
    width: calc(100% - 50px);
}