:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;
}
* {
    box-sizing: border-box;
}
body, html {
    background-color: var(--main-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
header {
    background-image: url("https://picsum.photos/1200/300");
    background-size: cover;
    min-height: 300px;
    padding-top: 100px;

}
a {
    color: var(--link-color);
}
.top-nav {
    background: var(--light-bg);/* original */
    z-index: 1000;
    display: inline-block;
    padding: 1.5em;
    width: 100%;

}
.nav {
    list-style-type: none;
    /*padding: 0;*/
    margin: 0; /* original */
    position: relative;
    display: inline-block;
    padding: 1.5em;
    bottom: -3.75rem;
    right: 4rem;

}
.nav-link {
    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: none; /* original */
    display: inline-block;
    padding: 1.5em;
}
.nav-link:hover {
    color: var(--link-color);
}
.profile {
    background: var(--light-bg); /* original */
    line-height: 2rem;
    height: 5rem;
    padding: 1.5em;
    display: inline-block;

}
.btn {
    border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    background: var(--light-bg);
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.313rem;
    margin-right: 56rem;
}
.btn-large {
    font-size: 1.3em;
    padding: 0.625rem;
    position: relative;
    top: 5.6rem;
    left: 5rem;

}
.img-circle {
    border-radius: 100%;
    border: 0.25rem solid var(--light-bg); /* userInput */
    display: inline-block;
}
    /*padding: .5em;*/
.text-right {
    text-align: right;
}
.text-muted {
    color: var(--main-link-color);
}
.nav-item {                /* userInput*/
    display: inline-block;
    padding: 1.5em;
}
.profile-form { /* userInput*/
    display: inline-block;
    padding: 1.5em;
    line-height: 0.5rem;
}
.profile-header {
    position: relative;
    top: 11.25rem;
    left: 0.625rem;
}

.profile-details {
    position: relative;
    float: left;
    clear: left;
}
.timeline {

}
.who-to-follow {
    position: relative;
    float: right;
    /*width: 189px;*/
    height: 189px;
    width: 189px;
}
.media {
    position: relative;
    float: left;
}
#boy {
    position: relative;
    left: 500px;
}

#boy-girl {
    float: right;
}