@font-face {
    font-family: superSmash;
    src: url("/fonts/super-smash-bros.ttf") ;
}
body {
    background-image: url("/img/nintendo-switch.png");
    background-size: cover;
    background-position: center;
}
a {
    font-family: superSmash,sans-serif;
    color: #FFFFFF !important;
}
#map {
    height: 300px;
    width: 74%;
    margin-left: 150px
}
.weatherCards{
    width: 90px;
}


#searchInput {
    font-family: superSmash, sans-serif;
}
#searchButton {
    font-family: superSmash, sans-serif;
}
#navbar {
    background-color: rgba(211,45,38);
    color: #FFFFFF !important;
}
#weatherBrosFont {
    padding-right: 10px;
    padding-left: 7px;
    color: #FFFFFF;
    width: 185px;
    height: 45px;
    border-radius: 60px;
    border: 2px solid white;
}
