.page-wrapper {
    width: 100vw;
    height:100vh;
    overflow:hidden;
    display:flex;
    flex-direction:column;
}
/* CUSTOM FONT */
@font-face {
    font-family: superSmash;
    src: url("/fonts/super-smash-bros.ttf") ;
}
#current-city {
    font-family: superSmash,sans-serif;
    color: #FFFFFF !important;
    margin-left: 120px;
}
.searchBars{
    margin-left: 20px
}
#navbar {
    background-color: rgba(211,45,38);
    color: #FFFFFF !important;
}
.main {
    flex-grow: 1;
    display:flex;
}
.main-center {
    flex-grow:1;
    display: flex;
    flex-direction: column;
}
.main-left, .main-right {
    width:250px;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    max-height:calc(100vh - 61px);
    box-shadow: 0px 5px 10px #333333;
    z-index: 1;
}
.main-right {
    background-color: #ff5b5b;
}
.forecast {
    z-index: 2;
}
/* LEFT SIDE OF CONTROLLER*/
.main-left {
    background-color: #4dcaff;
}
.controller-buttons-container {
    position: relative;
    width: 100px;
    height: 250px;
    /*background-color: rgba(0, 0, 0, 0.07);*/
}
.left-thumbStick {
    position: absolute;
    left: 21px;
    top: 26px;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: #3a3a3a;
    background-image: radial-gradient(circle farthest-corner at 50% 50%, hsla(0, 0%, 100%, 0.36), transparent);
    outline-color: #333;
    outline-offset: -7px;
    outline-style: solid;
    outline-width: 2px;
}
/* THIS MOVES ALL 4 ARROWS */
.controller-arrows {
    position: absolute;
    top: 97px;
    left: 16px;
    width: 70px;
    height: 70px;
}
.square {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 76px;
    bottom: 40px;
    background: black;
}
.rectangle {
    position: absolute;
    width: 30px;
    height: 10px;
    left: 76px;
    top: -25px;
    background: black;
}
.arrow-left {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    border-radius: 99px;
    background-color: #303030;
    -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
}

.arrow-right {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 25px;
    height: 25px;
    border-radius: 99px;
    background-color: #303030;
    -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
}

.arrow-top {
    position: absolute;
    left: 50%;
    width: 25px;
    height: 25px;
    border-radius: 99px;
    background-color: #303030;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.arrow-bottom {
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 25px;
    height: 25px;
    border-radius: 99px;
    background-color: #303030;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}
/* RIGHT SIDE OF THE CONTROLLER */
.right-thumbStick {
    position: absolute;
    left: 21px;
    top: 106px;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: #3a3a3a;
    background-image: radial-gradient(circle farthest-corner at 50% 50%, hsla(0, 0%, 100%, 0.36), transparent);
    outline-color: #333;
    outline-offset: -7px;
    outline-style: solid;
    outline-width: 2px;
}
.controller-buttons {
    position: absolute;
    top: 20px;
    left: 16px;
    width: 70px;
    height: 70px;
}
.cross {
    width: 25px;
    height: 25px;
    position: relative;
    top: -25px;
}

.cross:before, .cross:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: black;
}

.cross:before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.cross:after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}
.home-button{
    position: absolute;
    left: -20px;
    top: 158px;
    width: 25px;
    height: 25px;
    border-radius: 99px;
    background-color: #303030;
}
.button {
    display:flex;
    align-items:center;
    justify-content: center;
}
#cirY {
    color: #FFFFFF;
}
#cirB{
    color: #FFFFFF;
}
#cirA {
    color: #FFFFFF;
}
#cirX {
    color: #FFFFFF;
}
.button-y {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    border-radius: 99px;
    background-color: #303030;
    -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
}
.button-b {
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 25px;
    height: 25px;
    border-radius: 99px;
    background-color: #303030;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}
.button-a {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 25px;
    height: 25px;
    border-radius: 99px;
    background-color: #303030;
    -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
}
.button-x {
    position: absolute;
    left: 50%;
    width: 25px;
    height: 25px;
    border-radius: 99px;
    background-color: #303030;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}
a {
    font-family: superSmash,sans-serif;
    color: #FFFFFF !important;
}
#map {
    height: 300px;
    flex-grow: 1;
}
#searchInput {
    font-family: superSmash, sans-serif;
}
#searchButton {
    font-family: superSmash, sans-serif;
}
#weatherBrosFont {
    padding-right: 10px;
    padding-left: 7px;
    color: #FFFFFF;
    width: 185px;
    height: 45px;
    border-radius: 60px;
    border: 2px solid white;
}
/*Cards*/
.date {
    text-align: center;
}
.temp {
    text-align: center;
}
.description {
    text-align: center;
}
.wind {
    text-align: center;
}
.card {
    background: linear-gradient(#FFFFFF, #9198e5);
}